*.json filter=lfs diff=lfs merge=lfs -text
node_modules/genshin-db/src/min/data.min.json filter=lfs diff=lfs merge=lfs -text
node_modules/@ffmpeg-installer/linux-x64/ffmpeg filter=lfs diff=lfs merge=lfs -text
